<div id="dashboard-menu">
  <ul class="db-menu">
    <li><a href="/admin">Home</a></li>
    <li><a href="/admin/products">Products</a></li>
    <li><a href="/admin/categories">Categories</a></li>
  </ul>
</div>
