<!DOCTYPE html5>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      as="style"
      onload="this.onload = null;this.rel = 'stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    /></noscript>
    <title>Document</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") -%>

    <section id="main-section">
      <%- include("../partials/admin-dashboard.ejs") -%>
      <div id="content"><%- section %></div>
    </section>
    <div class="alert-box">
      <button class="alert-box-close">X</button>
      <span class="alert-box-message">Here comes the message </span>
    </div>
    <%- include("../partials/footer.ejs") -%>
  </body>
</html>
