html {
  height: 100%;
}
body {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Jura", sans-serif;
}
header {
  flex: 1;
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: lightgray;
}
h1 {
  width: 100%;
  text-align: center;
}
#logo {
  font-size: 30px;
  font-weight: bold;
}
header ul {
  list-style-type: none;
  display: flex;
}
header ul li {
  margin: 0 10px;
  font-size: 20px;
}
#main-section {
  flex: 1;
  /* padding: 0 100px; */
  width: 1600px;
  margin: auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
}
#products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-holder {
  width: 20%;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.product-holder-span {
  display: block;
}
.product-holder img {
  height: 250px;
  width: 100%;
  /* border: 1px solid black; */
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.input-group input,
.input-group select {
  max-width: 300px;
}
#categories-list {
  display: flex;
  flex-wrap: wrap;
}
.category-holder {
  width: 25%;
  padding: 10px;
  margin: 10px;
}
#products-wrapper {
  display: flex;
}
.left-nav {
  position: sticky;
  top: 0;
  width: 15%;
}
.left-nav a {
  display: block;
  margin: 10px 0;
  font-size: 20px;
}
#products-list {
  width: 80%;
  position: relative;
}

#add-prod-wrapper {
  display: flex;
}
#products-form {
  flex: 1;
}
.product-img-display {
  flex: 1;
  /* width: 50%; */
  box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25),
    0px 0px 0px 1px rgba(9, 30, 66, 0.08);
}
.main-img-wrapper {
  display: flex;
  /* height: 100%; */
  position: relative;
}
.arr-holder {
  width: 50px;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  opacity: 0.2;
  transition: all 0.5s;
}
.arr-holder:hover {
  background-color: #cccccc;
  opacity: 0.5;
  cursor: pointer;
}
.right-arr-holder {
  right: 0;
}
.left-arr-holder {
  left: 0;
}
.img-display {
  height: 250px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 5;
}
.img-collection-wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #cccccc;
  align-items: center;
  overflow: auto;
}
.img-holder {
  /* width: 70px; */
  height: 85px;
  margin: 0 10px;
}
.img-holder img {
  height: 100%;
  width: 100px;
}
.img-collection-wrapper .img-holder.selected {
  border: 1px solid red;
}
.product-main-wrapper {
  display: flex;
}
#upate-poduct-form {
  flex: 1;
}
#product-menu-wrapper {
  padding: 20px;
  flex: 1;
}
#product-menu {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  max-height: 100px;
  flex: 1;
}
