html {
  height: 100%;
}
body {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Jura", sans-serif;
}
header {
  flex: 1;
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: lightgray;
}
h1 {
  width: 100%;
  text-align: center;
}
#logo {
  font-size: 30px;
  font-weight: bold;
}
header ul {
  list-style-type: none;
  display: flex;
}
header ul li {
  margin: 0 10px;
  font-size: 20px;
}
#main-section {
  flex: 1;
  /* padding: 0 100px; */
  /* width: 1600px; */
  /* margin: auto; */
  display: flex;
  /* flex-wrap: wrap; */
}
#content {
  width: 100%;
  /* padding: 10px 20px; */
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  /* height: 100%; */
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  width: calc(25% - 20px);
  /* background-color: red;  */
  height: 360px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.more-card {
  margin: 10px 10px;
  width: calc(20% - 20px);
  height: 350px;
}
.p-card-header {
  flex: 1;
}
.p-card-body {
  flex: 1;
  background-color: #f9f9f9;
  padding: 10px;
}
.product-img {
  width: 100%;
  height: 170px;
}
.p-card-body .product-name {
  text-align: center;
  display: block;
  font-size: 20px;
  padding: 5px;
  color: #41b1e8;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-category {
  display: block;
  text-align: center;
}
.p-card-body .product-ratings {
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
}
.filled {
  color: orange;
}
.fa-star {
  color: orange;
}
.fa-star-half-stroke {
  color: orange;
  position: relative;
}

.card-price-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 22px;
  .currency {
    margin-left: 5px;
    text-transform: uppercase;
  }
}
.card-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.prod-btn {
  padding: 10px;
  font-size: 16px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s;
}
.prod-btn.add-to-cart {
  background-color: #5ba4cd;
}
.prod-btn.add-to-cart:hover {
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0);
}
.prod-btn.view-details {
  background-color: #aeae66;
  text-decoration: none;
}
.product-wrapper {
  display: flex;
  /* height: 100%; */
}
.display-wrapper {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
}
.details-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.image-wrapper {
  margin: 0 5px;
  width: 100%;
}
#product-image {
  width: 100%;
  height: 500px;
}
.collection-wrapper {
  /* height: 200px; */
}
.collection-img-holder {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
  margin: 5px 0;
}
.collection-img {
  height: 100px;
  width: 70px;
  padding: 5px;
}
.product-name {
  display: block;
  font-size: 30px;
  padding: 5px;
  color: #41b1e8;
  font-weight: 700;
  margin: 0;
  text-align: start;
  padding: 0;
}
.ratings-wrapper {
  margin-top: 5px;
}
.ratings-wrapper span {
  font-size: 20px;
}
.ratings-wrapper .total-ratings {
  margin-left: 25px;
}
.price-wrapper {
  font-size: 30px;
  margin: 10px 0;
}
.price-wrapper .currency {
  text-transform: uppercase;
}
.product-description {
  font-size: 20px;
  line-height: 30px;
}
.product-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.count-wrapper {
  background-color: lightgray;
  display: flex;
  align-items: center;
}
.count-control {
  font-size: 40px;
  padding: 10px 20px;
  cursor: pointer;
}
#product-count {
  width: 70px;
  font-size: 30px;
  text-align: center;
  border: none;
  background-color: lightgray;
}
.more-products-wrapper {
  margin-top: 20px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  padding: 10 50px;
}
.more-products {
  font-size: 30px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.input-group label {
  font-size: 20px;
}
input,
select,
textarea {
  padding: 10px;
  font-size: 18px;
  border: 0.1rem solid #c9cace;
  border-radius: 5px;
}
.reviews {
  font-size: 30px;
}
.reviews-section {
  padding: 20px 0;
}
.reviews-section input {
  max-width: 500px;
}
.reviews-section textarea {
  max-width: 1000px;
}
.review-rate {
  font-size: 35px;
  position: relative;
}
.post-review {
  max-width: 300px;
  background-color: #61b161;
}
.review-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 22px;
}
.review-rating {
  margin-top: 10px;
  width: 100%;
}
.review-content {
  font-size: 18px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  max-height: 100px;
  flex: 1;
}
