<%- contentFor("section") %>
<form action="/products/create" method="POST">
  <div class="input-group">
    <label for="name">Product Name</label>
    <input required type="text" name="name" id="name" />
  </div>
  <div class="input-group">
    <label for="quantity">Quantity</label>
    <input required type="text" name="quantity" id="quantity" />
  </div>
  <input type="submit" value="Create product" />
</form>
